.daily-schedule {
    flex-grow: 1;
    height: calc(100vh - 3em);
    padding: 2em 1em;
}

.daily-schedule > h2, h3 {
    padding: 0 3rem;
    margin-bottom: 0.75em;
    color: #6b6b6b;
}

.daily-schedule > h2 {
    font-size: 2.25em;
    letter-spacing: 0.2em;
    font-family: 'Abril Fatface', cursive;
}

.daily-schedule > h3 {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3em;
}

.schedule-display {
    display: flex;
    flex-direction: column;
    height: 75vh;
 
    position: relative;
    padding: 2em;
    /* padding-bottom: 7em; */
    overflow-y: auto;
    overflow-x: hidden;
}

.schedule-time {
    flex-basis: 5em;
    flex-shrink: 0;
}

.time-start {
    position: relative;
    color: #6b6b6b;
    font-family: 'Quicksand', sans-serif;
}

.time-start::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: rgb(209, 209, 209, 0.3);
    height: 2px;
    width: 90%;
    top: 0.65em;
    left: 3em;
}

.meeting-range {
    position: absolute;
    left: 6em;
    height: 10em;
    width: 65%;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: rgb(196, 159, 159, 0.3);
}

.curr-time {
    position: relative;
    display: inline;
    width: 4em;
    height: min-content;
    top: calc(2em + 4em);
    left: -0.5em;
    color: red;
    z-index: 2;
    font-family: 'Quicksand', sans-serif;
    background-color: white;

}

.curr-time::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: red;
    height: 2px;
    width: 50vw;
    top: 8px;
    left: 4.5em;
}

.chosen-select {
    height: 1.2em
}