.daily-schedule {
    flex-grow: 1;
    height: calc(100vh - 3em);
    padding: 2em 1em;
}

.daily-schedule > h2, h3 {
    padding: 0 3rem;
    margin-bottom: 0.75em;
    color: #6b6b6b;
}

.schedule-display {
    display: flex;
    flex-direction: column;
    height: 75vh;
 
    position: relative;
    padding: 2em;
    /* padding-bottom: 7em; */
    overflow-y: auto;
    overflow-x: hidden;
}

.schedule-time {
    flex-basis: 5em;
    flex-shrink: 0;
}

.time-start::after {
    content: '';
    display: inline-block;
    position: relative;
    background: rgb(209, 209, 209, 0.3);
    height: 2px;
    width: 90%;
    left: 1em;
}

.meeting-range {
    position: absolute;
    top: calc(2em + 13px + 5em);
    left: 6em;
    height: 10em;
    width: 65%;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: rgb(196, 159, 159, 0.3);
}

.curr-time {
    position: absolute;
    width: 90%;
    height: fit-content;
    top: calc(2em + 4em);
    left: 1em;
    color: red;
    z-index: 2;
    background-color: white;

}

.curr-time::after {
    content: '';
    display: inline-block;
    position: relative;
    background: red;
    height: 2px;
    width: 90%;
    left: 0.75em;
}

.chosen-select {
    height: 1.2em
}